<div class="chapter-container">
  
  <header class="main-header">
    <h1>{{ chapter().title }}</h1>
    <p>{{ chapter().description }}</p>
  </header>

  @for (part of chapter().parts; track part.id) {
    
    <mat-expansion-panel [expanded]="part.isOpen"> 
      <mat-expansion-panel-header>
        <mat-panel-title> {{ part.title }} </mat-panel-title>
        <mat-panel-description> {{ part.description }} </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        @for (item of part.items; track item.id) {
          <mat-list-item>
            <div class="item-row">
              <span class ="item-title">{{ item.title }}</span>
              <div class="right-info">
                <span class="item-type">{{ item.type }}</span>
                <button matIconButton class="small-btn"> <mat-icon>play_circle</mat-icon> </button>
                @if (isAdmin()) {
                  <button matIconButton class="small-btn"> <mat-icon>edit</mat-icon> </button>
                  <button matIconButton class="small-btn"> <mat-icon>delete</mat-icon> </button>
                }
              </div>
            </div>
          </mat-list-item>
          
        }
      </mat-list>
    </mat-expansion-panel>
    <p class="petite-marge"> </p>
  }
  
</div>

<div class="right-progress">
  <p>Cours</p>
  <mat-progress-bar mode="determinate" value="40">Cours</mat-progress-bar>
  <p>Exercice</p>
  <mat-progress-bar mode="determinate" value="60">Exercice </mat-progress-bar>
</div>
