<div class="slider-wrapper">
  @if (showLeftArrow()) {
    <button matIconButton class="nav-btn left" (click)="scroll(-400)">
      <mat-icon>chevron_left</mat-icon>
    </button>
  }

  <div class="slider-content" #sliderContent (scroll)="onScroll($event)">
    @for (chapter of chapters.value(); track chapter.id) {
      <app-chapter-card [id]="chapter.id" class="slider-item" />
    }
  </div>

  @if (showRightArrow()) {
    <button matIconButton class="nav-btn right" (click)="scroll(400)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  }
</div>