code-editor {
  font-family: 'Roboto Mono';
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid var(--mat-sys-outline);
  margin: 1em 0;
  overflow-x: auto;
  white-space: pre-wrap;
  min-height: 38px;
}

.code-block-interactive, .code-block-minimal {
  position: relative;
  .code-overlay, .button-group {
    position: absolute;
    right: 0; top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    .language-label {
      color: var(--mat-sys-on-primary);
      background-color: var(--mat-sys-primary);
      border-radius: 5px;
      padding: 0 0.25em;
      margin: 0.5em;
      z-index: 1;
    }
  }
}

.code-block-interactive {
  .python-console {
    display: flex;
    gap: 1em;
    .console-header { 
      padding: 1em 0;
      color: var(--mat-sys-primary);
      font-weight: bold;
    }
    .console-body {
      flex: 1;
      .console-content {
        max-height: 20rem;
        margin: 0;
        padding: 1em;
        font-family: 'Roboto Mono', monospace;
        white-space: pre-wrap;
        overflow-y: auto;
        .inline-input {
          width: 100%;
          display: inline-flex;
          align-items: center;
          vertical-align: middle;
          input {
            flex: 1;
            border: none;
            background: transparent;
            border-bottom: 1px solid var(--mat-sys-primary);
            font-family: inherit;
            font-size: inherit;
            outline: none;
            padding: 0;
            &:focus {
              border-bottom-width: 2px;
            }
          }
        }
      }
    }
  }
  .python-error {
    display: flex;
    gap: 1em;
    color: var(--mat-sys-error);
    .error-header { 
      padding: 1em 0;
      font-weight: bold;
    }
    .error-body {
      flex: 1;
      .error-content {
        max-height: 20rem;
        margin: 0;
        padding: 1em;
        font-family: 'Roboto Mono', monospace;
        white-space: pre-wrap;
        overflow-y: auto;
      }
    }
  }

  .python-plot {
    display: flex;
    justify-content: center;
  }
}
