@use '../../../../../_premium-mixins' as mixins;

mat-expansion-panel {
    @include mixins.premium-card;
    margin-bottom: 24px;
}


.section-items-container {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.empty-message {
    padding: 16px;
    text-align: center;
    color: var(--mat-sys-on-surface-variant);
    font-style: italic;
}