<h1>Quiz time</h1>

<!---------------------------MODE QUIZ------------------------------->
@if (quiz_mode == true) {
@for (item of items; track item.question) {
<div class="quiz-card">
    <div class="quiz-title">
        <mat-icon matListItemIcon>quiz</mat-icon>
        <h3>Question 1</h3>
    </div>
    <p>{{item.question}}</p>

    <div class="one-question">
        @if (item.multiple_answers == true) {
        @for (option of item.options; track $index) {
        <mat-checkbox>{{option}}</mat-checkbox>
        <br />
        }
        } @else {

        @for (option of item.options; track $index) {
        <mat-radio-button value="1">{{option}}</mat-radio-button>
        <br />
        }
        }
    </div>
</div>
}

<button mat-fab extended (click)="check_quiz()">
    <mat-icon>search_check_2</mat-icon>
    Verifier
</button>

}
<!---------------------------MODE QUIZ------------------------------->
@if (quiz_mode == false) {
@for (item of items; track item.question) {
<div class="quiz-card">
    <div class="quiz-title">
        <mat-icon matListItemIcon>quiz</mat-icon>
        <h3>Question 1</h3>
    </div>
    <p>{{item.question}}</p>

    <div class="one-question">
        @if (item.multiple_answers == true) {
        @for (option of item.options; track $index) {
        <mat-checkbox [disabled]="true" class="correction true">{{option}}</mat-checkbox>
        <br />
        }
        } @else {

        @for (option of item.options; track $index) {
        <mat-radio-button value="1" [disabled]="true" class="correction false">{{option}}</mat-radio-button>
        <br />
        }
        }
    </div>
</div>
}

<button mat-fab extended>
    <!--<mat-icon>search_check_2</mat-icon>-->
    Page suivante
</button>

}