<main class="quiz-container">
    @if (quizResource.isLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @else if (formState(); as questions) {
    @for (question of questions; track question.question; let qIdx = $index) {
    <section class="quiz-card" [class.is-answered]="userAnswers()[qIdx].includes(true)">
        <header class="horizontal">
            <mat-icon>quiz</mat-icon>
            <h3>Question {{ qIdx + 1 }}</h3>
        </header>

        <p class="question-text">{{ question.question }}</p>

        <div class="options-list" role="group" [attr.aria-label]="question.question">
            @for (option of question.options; track $index; let oIdx = $index) {
            @let isChecked = userAnswers()[qIdx][oIdx];
            @let correction = QuizCorrection()[qIdx]?.[0]?.[oIdx];

            <div class="option-item" [class.correction]="quizSubmitted() && QuizCorrection().length > 0"
                [class.correct]="quizSubmitted() && QuizCorrection().length > 0 && isChecked === correction"
                [class.wrong]="quizSubmitted() && QuizCorrection().length > 0 && isChecked !== correction">

                @if (question.multiple_answers) {
                <mat-checkbox [checked]="isChecked" [disabled]="quizSubmitted()"
                    (change)="updateAnswer(qIdx, oIdx, true)">
                    {{ option }}
                </mat-checkbox>
                } @else {
                <mat-radio-button [checked]="isChecked" [disabled]="quizSubmitted()"
                    (change)="updateAnswer(qIdx, oIdx, false)">
                    {{ option }}
                </mat-radio-button>
                }
            </div>
            }
        </div>
        @if (quizSubmitted() && QuizCorrection()[qIdx]) {
        <div class="horizontal">
            <mat-icon>info</mat-icon>
            <p>{{ QuizCorrection()[qIdx][1] }}</p>
        </div>
        }
    </section>
    }


    <div class="quiz-actions">
        @if (!quizSubmitted()) {
        <button mat-flat-button color="primary" (click)="quizSubmitted.set(true)"
            [disabled]="submitResource.isLoading()">
            @if (submitResource.isLoading()) { <mat-progress-bar mode="indeterminate"></mat-progress-bar> }
            Vérifier mes réponses
        </button>
        }
    </div>
    }

    @else if (quizResource.error()) {
    <div class="error-msg" role="alert">
        Impossible de charger le quiz. Veuillez réessayer plus tard.
    </div>
    }
</main>