<!---------------------------MODE QUIZ------------------------------->
@if (quiz_mode == "loading") {
<p>Chargement...</p>
}





<!---------------------------MODE QUIZ------------------------------->
@if (quiz_mode == "answering") {
@for (item of items; track item.question; let i = $index) {
<div class="quiz-card">
    <div class="quiz-title">
        <mat-icon matListItemIcon>quiz</mat-icon>
        <h3>Question 1</h3>
    </div>
    <p>{{item.question}}</p>

    <div class="one-question">
        @if (item.multiple_answers == true) {
        @for (option of item.options; track $index; let j = $index) {
        <mat-checkbox [checked]="user_answer[i][j]" (change)="update_user_answer(i, j)">{{option}}</mat-checkbox>
        <br />
        }
        } @else {

        @for (option of item.options; track $index; let j = $index) {
        <mat-radio-button [checked]="user_answer[i][j]"
            (change)="update_user_answer(i, j)">{{option}}</mat-radio-button>
        <br />
        }
        }
    </div>
</div>
}

<button mat-fab extended (click)="check_quiz()">
    <mat-icon>search_check_2</mat-icon>
    Verifier
</button>

}




<!---------------------------MODE ANSWER------------------------------->
@if (quiz_mode == "correction") {
@for (item of items; track item.question; let i = $index) {
<div class="quiz-card">
    <div class="quiz-title">
        <mat-icon matListItemIcon>quiz</mat-icon>
        <h3>Question 1</h3>
    </div>
    <p>{{item.question}}</p>

    <div class="one-question">
        @if (item.multiple_answers == true) {
        @for (option of item.options; track $index; let j = $index) {
        <div class="correction" [class.true]="user_answer[i][j] === real_answer[i][j]"
            [class.false]="user_answer[i][j] !== real_answer[i][j]">
            <mat-checkbox [disabled]="true" [checked]="real_answer[i][j]">{{option}}</mat-checkbox>
        </div>

        <br />
        }
        } @else {

        @for (option of item.options; track $index; let j = $index) {
        <div class="correction" [class.true]="user_answer[i][j] === real_answer[i][j]"
            [class.false]="user_answer[i][j] !== real_answer[i][j]">
            <mat-radio-button value="1" [disabled]="true" [checked]="real_answer[i][j]">{{option}}</mat-radio-button>
        </div>

        <br />
        }
        }
    </div>
</div>
}

<button mat-fab extended>
    <!--<mat-icon>search_check_2</mat-icon>-->
    Page suivante
</button>

}