<remark [markdown]="markdown()" [processor]="processor">
  <ng-template [remarkTemplate]="'code'" let-node>
    @if(node.lang === 'mermaid') {
      <app-mermaid-block [code]="node.value"/>
    } @else if (node.lang === 'math') {
      <remark-katex [expr]="node.value" class="math-display" />
    }
    @else {
      <app-code-block [initialCode]="node.value" [language]="node.lang" [pyodide]="this.pyodide()" />
    }
  </ng-template>
  <remark-katex *remarkTemplate="'math'; let node" [expr]="node.value" class="math-display" />
  <remark-katex *remarkTemplate="'inlineMath'; let node" [expr]="node.value" class="math-inline" />
  <app-outline *remarkTemplate="'outline'; let node" [outlineType]="node.attributes.outlineType ?? 'AIDE'" [node]="node.children" [processor]="processor" />
  <app-quiz *remarkTemplate="'quiz'; let node" [quizId]="node.attributes?.id" />
  <app-video-block *remarkTemplate="'video'; let node" [link]="node.attributes.link" />
</remark>
