<div class="chapter-container">
  
  <header class="main-header">
    <h1>{{ chapter().title }}</h1>
    <p>{{ chapter().description }}</p>
  </header>

  @for (part of chapter().parts; track part.id) {
    
    <div class="part-card">
      
      <div class="part-header" (click)="togglePart(part)">
        
        <div class="circle-icon">A</div> 
        
        <h3>{{ part.title }}</h3>
        
        <span class="chevron" [class.open]="part.isOpen">▼</span>
      
      </div>

      @if (part.isOpen) {
        <div class="items-list">
          
          @for (item of part.items; track item.id) {
            <div class="item-row">
              
              <span class="item-title">{{ item.title }}</span>

              <span class="badge" [class]="item.type.toLowerCase()">
                {{ item.type }}
              </span>

                <div class="actions">
                    <button class="btn-icon play" title="Lancer">▶</button> 
                    
                    @if (isAdmin()) {
                        <button class="btn-icon edit" title="Modifier">✏️</button> 
                        <button class="btn-icon delete" title="Supprimer">🗑️</button> 
                    }
                </div>

            </div>
          }

        </div>
      } </div>
  }
</div>