.main-header h1 {
	color: var(--Schemes-Primary, #36618E);
	font-family: Rubik;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
  margin-bottom: 0.1em;
}
.main-header p {
  color: var(--Schemes-Secondary, #625B71);
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1em;
}
.main-header {
  margin-bottom: 3em;
}


.chapter-container {
  max-width: 850px;
  width: 100%;
  margin-right: auto;
}

.right-progress {
  position: fixed;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}

.right-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
}

.petite-marge {
  margin-bottom: 0.5em;
}

.item-type {
  background-color: #eee;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: #666;
}

.item-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.item-title {
  flex: 1;
}





