<div class="container">
    <div class="in-container a-propos">
        <h3>A propos</h3>
        <h5>D'ou vient CodeClique ?</h5>
        <p>La plateforme CodeClique et ses cours ont été créés par 10 étudiants.</p>
        <p>CodeClique est né d'un projet entre l'école d'ingénieur Telecom SudParis et le lycée Robert Doisneau dans le
            cadre d'un projet de première année.</p>

        <p>© 2026 CodeClique - Tous droits réservés<br>
            Développé avec ❤️ par l'équipe CodeClique</p>
    </div>

    <div class="in-container">
        <h3>Ressources</h3>
        <ul>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="free-python-ide">Python en ligne</a></li>
            <li><a href="profile">Mon Profil</a></li>
            <li><a href="privacy-policy">Conditions d’utilisation</a></li>
            <li>
                <a href="privacy-policy">
                    Politique de confidentialité
                    <mat-icon>construction</mat-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="in-container">
        <h3>Aide et support</h3>
        <ul>
            <li><a href="mailto:contact@codeclique.fr">Par mail</a></li>
        </ul>
    </div>
</div>