<footer class="footer-container">
    <div class="content-grid">
        <section class="section about">
            <h3 class="footer-title">À propos</h3>
            <h5 class="footer-subtitle">D'où vient CodeClique ?</h5>
            <p>La plateforme CodeClique et ses cours ont été créés par 10 étudiants.</p>
            <p>
                CodeClique a pour ambition d'offrir des ressources <strong>aux enseignants</strong> et <strong>aux étudiants</strong> dans les collèges et lycées pour faciliter l'apprentissage de la <strong>programmation</strong>.
            </p>

            <div class="copyright">
                <p>© 2026 CodeClique — Tous droits réservés</p>
                <p>Développé avec <mat-icon class="heart-icon">favorite</mat-icon> par l'équipe CodeClique</p>
            </div>
        </section>

        <section class="section">
            <h3 class="footer-title">Ressources</h3>
            <nav class="footer-nav">
                <a matButton routerLink="/dashboard">Dashboard</a>
                <a matButton routerLink="/codeclique-ide">Python en ligne</a>
                <a matButton routerLink="/courses">Catalogue des cours</a>
                <a matButton routerLink="/privacy-policy">Politique de confidentialité</a>
            </nav>
        </section>

        <section class="section">
            <h3 class="footer-title">Aide et support</h3>
            <div class="footer-nav">
                <a matButton="filled" extended href="mailto:contact@codeclique.fr">
                    <mat-icon>email</mat-icon>
                    Par mail
                </a>
            </div>

            <div class="brand-display">
                <a routerLink="/" class="logo-wrapper">
                    <img src="img/CodeClique.webp" alt="App logo" class="logo">
                </a>
            </div>
        </section>
    </div>
</footer>