@if (itemInfo.isLoading()) {
<div class="loading-container">
    <mat-spinner diameter="48"></mat-spinner>
    <p>Chargement...</p>
</div>
} @else if (itemInfo.value(); as item) {
<div class="item-card-container">
    <div class="item-card-inner" (click)="onCardClick($event, item.id)">
        <mat-icon class="item-icon">{{ typeIcon() }}</mat-icon>
        <div class="item-title" [title]="item.title">{{ item.title }}</div>
        <div class="item-status-group">
            <span class="item-type-badge">{{ typeLabel() }}</span>
            <mat-icon class="status-icon" [class.done]="isDone()">
                {{ isDone() ? 'check_circle' : 'radio_button_unchecked' }}
            </mat-icon>
        </div>
    </div>
</div>


} @else if (itemInfo.error()) {
<div>Erreur de chargement</div>
}