<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="img/CodeClique.svg" alt="App logo" class="logo">
      <h1>CodeClique</h1>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" aria-label="Home menu button">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Mon dashboard</span>
      </a>
      <a mat-list-item routerLink="/free-python-ide" aria-label="Free Python IDE menu button">
        <mat-icon matListItemIcon>terminal</mat-icon>
        <span matListItemTitle>Editeur Python</span>
      </a>
      <!-- TODO: separator -->
      <a mat-list-item routerLink="/" aria-label="Courses menu button">
        <mat-icon matListItemIcon>school</mat-icon>
        <span matListItemTitle>Tout les cours</span>
      </a>
      <!-- TODO: vertical-fill -->
      <a mat-list-item routerLink="/settings" aria-label="Settings menu button">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle>Paramètres</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
        type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Title</span>
      <span class="toolbar-spacer"></span>
      <button matIconButton aria-label="Theme toggle button" (click)="theming.toggle()">
        <mat-icon>
          @switch (theming.theme()) {
            @case ('light') {
              light_mode
            }
            @case ('dark') {
              dark_mode
            }
            @default {
              brightness_auto
            }
          }
        </mat-icon>
      </button>
      <button matIconButton routerLink="/profile" aria-label="Profile menu button">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <div class="main-container">
      <router-outlet /> 
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
