.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  // border-right: 1px solid var(--mat-sys-outline-variant);
}

.sidenav .mat-toolbar {
  background: inherit;
  color: var(--mat-sys-primary);
  .logo {
    height: 2em;
  }
}

.sidenav .mat-mdc-nav-list {
  padding: 8px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

mat-sidenav-content {
  min-height: 100vh;
}
