.header_container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

mat-icon {
    transition: transform 0.2s ease-in-out;
    &.is-collapsed {
        transform: rotate(-90deg);
    }
}

.outline_div {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    border-radius: 12px;
    padding: 0 15px;
}

h2 {
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 250% */
    margin: 0;
    padding: 0;
}

.tittle_button {
    display: flex;
    align-items: center;
    gap: 15px;
}

p {
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 188.889% */
    margin: 0;
}

remark {
    width: 100%;
}

// Types
.EXEMPLE {
    border: 3px solid #A7A7A7;
    background: rgba(167, 167, 167, 0.10);
}
.RETENIR {
    border: 3px solid #358218;
    background: rgba(53, 130, 24, 0.10);
}
.REMARQUE {
    border: 3px solid #1E7AE0;
    background: rgba(30, 122, 224, 0.10);
}
.INFORMATION {
    border: 3px solid #1E7AE0;
    background: rgba(30, 122, 224, 0.10);
}
.ATTENTION {
    border: 3px solid #FF8A00;
    background: rgba(255, 138, 0, 0.10);
}
.ERREUR {
    border: 3px solid #FF8A00;
    background: rgba(255, 138, 0, 0.10);
}
.QUESTION, .AIDE {
    border: 3px solid #E1E2E8;
    background: rgba(225, 226, 232, 0.10);
}