<mat-card class="example-card">
    <h3>Cours</h3>
    <mat-card-content>
        <mat-progress-spinner class="example-margin" [value]="value">
        </mat-progress-spinner>
    </mat-card-content>
    <p>{{value}}%</p>
</mat-card>




<mat-card class="example-card">
    <h3>Exercices</h3>
    <mat-card-content>
        <mat-progress-spinner class="example-margin" [value]="value">
        </mat-progress-spinner>
    </mat-card-content>
    <p>{{value}}%</p>
</mat-card>





<mat-card class="example-card">
    <h3>Quiz</h3>
    <mat-card-content>
        <mat-progress-spinner class="example-margin" [value]="value">
        </mat-progress-spinner>
    </mat-card-content>
    <p>{{value}}%</p>
</mat-card>







<mat-card class="example-card">
    <h3>Cours</h3>
    <mat-card-content>
        <mat-progress-bar mode="determinate" value="40">
        </mat-progress-bar>
    </mat-card-content>
</mat-card>




<mat-card class="example-card">
    <h3>Exercices</h3>
    <mat-card-content>
        <mat-progress-bar mode="determinate" value="40">
        </mat-progress-bar>
    </mat-card-content>
</mat-card>





<mat-card class="example-card">
    <h3>Quiz</h3>
    <mat-card-content>
        <mat-progress-bar mode="determinate" value="40">
        </mat-progress-bar>
    </mat-card-content>

</mat-card>