<div class="course-container">
  @if (data(); as d) {
    @if (d.type === 'LE') {
      <app-lesson [node]="d"></app-lesson>
    } @else {
      <div class="content-layout">
        <!-- Contenu principal -->
        <main class="main-column">
          <div class="title-row">
            <h1 class="chapter-title">{{ d.title }}</h1>
          </div>

          <div class="content-wrapper">
            @if (d.type === 'QU') {
              <app-quiz [quizId]="d.id" [forceRestart]="restartMode()" (submitted)="onItemCompleted()"></app-quiz>
            } @else if (d.type === 'EX') {
              <app-exercise [node]="d"></app-exercise>
            }
          </div>
        </main>
      </div>
    }

  } @else if (course.error()) {
  <div class="loading-container">
    <mat-icon class="error-icon">block</mat-icon>
    <p>Erreur lors du chargement du cours.</p>
  </div>
  } @else {
  <div class="loading-container">
    <mat-spinner diameter="48"></mat-spinner>
    <p>Chargement du contenu...</p>
  </div>
  }
</div>